@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  scroll-behavior: smooth;
  background: #ECEBE5 !important;
}

::-webkit-scrollbar {
    width: 8px;
    background: #ECEBE5;
    border-radius: 5px;
    height: px;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 8px;
    height: 2px;
    background-color: #FCDF3D;
    border-radius: 5px;
  }